<h1> Group 20 <h1>
    
<hr>

<h6> Data <h6>

Setup full data set :

In [63]:
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)
# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"
# Common imports
import numpy as np
import os
import tarfile
import urllib
import pandas as pd
# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

#read the attribute csvs file into respective dataframes
X = pd.read_csv ('x_train_gr_smpl.csv')


# read the class attribute file into Y datafram
Y = pd.read_csv('y_train_smpl.csv')
Y.columns = ['Class']

#join the two such that Y is the last column
XYraw = pd.concat([X,Y], axis=1)
#check the concatination
print(XYraw)

          0      1      2      3      4      5      6      7      8      9  \
0      78.0   77.0   76.0   82.0   87.0   92.0  104.0  119.0  117.0  120.0
1      73.0   75.0   79.0   78.0   76.0   75.0   89.0  107.0  133.0  125.0
2      72.0   75.0   79.0   77.0   81.0   89.0  105.0  109.0   86.0   90.0
3      67.0   70.0   74.0   80.0   93.0  107.0  110.0   96.0   69.0  100.0
4      74.0   74.0   73.0   72.0   77.0   87.0  104.0  109.0   84.0   83.0
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9685  247.0  220.0  254.0  213.0  129.0  208.0  254.0  255.0  255.0  255.0
9686  151.0  118.0  254.0  255.0  255.0  255.0  254.0  254.0  254.0  252.0
9687  255.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0
9688  255.0  253.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0
9689  252.0  189.0  238.0  255.0  255.0  245.0  219.0  212.0  140.0   40.0

      ...  2295  2296   2297  2298  2299  2300   2301   2302   2303  Class
0     ...  79.0  72.0   76.0  83.0  95.0  99.0   98.0   95.0   94.0      0
1     ...  93.0  85.0   77.0  69.0  73.0  83.0  100.0  101.0  101.0      0
2     ...  95.0  88.0   80.0  73.0  71.0  74.0   80.0   89.0   95.0      0
3     ...  92.0  87.0   82.0  77.0  72.0  70.0   72.0   81.0   88.0      0
4     ...  98.0  99.0  100.0  99.0  89.0  78.0   66.0   68.0   72.0      0
...   ...   ...   ...    ...   ...   ...   ...    ...    ...    ...    ...
9685  ...  29.0  27.0   26.0  25.0  23.0  22.0   26.0   26.0   27.0      9
9686  ...  31.0  30.0   30.0  30.0  30.0  29.0   26.0   28.0   27.0      9
9687  ...  49.0  42.0   36.0  33.0  36.0  39.0   31.0   39.0   43.0      9
9688  ...  27.0  26.0   27.0  35.0  28.0  27.0   26.0   26.0   24.0      9
9689  ...  23.0  23.0   30.0  32.0  23.0  23.0   26.0   20.0   17.0      9

[9690 rows x 2305 columns]

In [64]:

#convert numberic to nominal 
XYraw[['Class']] = XYraw[['Class']].replace([0, 1, 2,3,4,5,6,7,8,9], ['zero', 'one', 'two','three', 'four', 'five', 'six', 'seven', 'eight',
                                 'nine'])

XYraw.head()

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,Class
0,78.0,77.0,76.0,82.0,87.0,92.0,104.0,119.0,117.0,120.0,...,79.0,72.0,76.0,83.0,95.0,99.0,98.0,95.0,94.0,zero
1,73.0,75.0,79.0,78.0,76.0,75.0,89.0,107.0,133.0,125.0,...,93.0,85.0,77.0,69.0,73.0,83.0,100.0,101.0,101.0,zero
2,72.0,75.0,79.0,77.0,81.0,89.0,105.0,109.0,86.0,90.0,...,95.0,88.0,80.0,73.0,71.0,74.0,80.0,89.0,95.0,zero
3,67.0,70.0,74.0,80.0,93.0,107.0,110.0,96.0,69.0,100.0,...,92.0,87.0,82.0,77.0,72.0,70.0,72.0,81.0,88.0,zero
4,74.0,74.0,73.0,72.0,77.0,87.0,104.0,109.0,84.0,83.0,...,98.0,99.0,100.0,99.0,89.0,78.0,66.0,68.0,72.0,zero

In [65]:

#randomise 
XYraw_ran = XYraw.sample(frac=1).reset_index(drop=True)
print(XYraw_ran)

          0      1      2      3      4      5      6      7      8      9  \
0      43.0   52.0   46.0   29.0   14.0   16.0   16.0   16.0   16.0   19.0
1     234.0  235.0  230.0  226.0  222.0  220.0  219.0  220.0  222.0  224.0
2      18.0   21.0   23.0   25.0   24.0   21.0   18.0   18.0   19.0   21.0
3     223.0  225.0  223.0  222.0  221.0  225.0  227.0  224.0  225.0  227.0
4      34.0   34.0   35.0   35.0   34.0   33.0   33.0   33.0   34.0   35.0
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9685   44.0   48.0   41.0   41.0   43.0   46.0   50.0   50.0   49.0   50.0
9686   83.0   85.0   86.0   82.0   85.0   93.0   89.0   83.0   79.0   81.0
9687  121.0  109.0  103.0   91.0   92.0  109.0  124.0  101.0   93.0   95.0
9688  254.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0  255.0
9689   40.0   31.0   28.0   35.0   39.0   34.0   35.0   41.0   77.0  150.0

      ...   2295   2296   2297   2298   2299   2300   2301   2302   2303  \
0     ...   24.0   23.0   21.0   20.0   22.0   23.0   23.0   23.0   24.0
1     ...  129.0  126.0  107.0  108.0  130.0  126.0  110.0  142.0  191.0
2     ...   15.0   15.0   15.0   14.0   14.0   14.0   15.0   16.0   15.0
3     ...  149.0  146.0  150.0  157.0  156.0  106.0   86.0  114.0  133.0
4     ...   31.0   29.0   29.0   29.0   28.0   29.0   29.0   31.0   32.0
...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9685  ...   30.0   29.0   32.0   32.0   35.0   39.0   39.0   29.0   23.0
9686  ...   98.0   93.0   96.0  101.0   85.0   77.0   75.0   73.0   71.0
9687  ...  111.0   66.0   37.0   55.0   82.0  109.0  143.0  155.0  157.0
9688  ...   18.0   20.0   23.0   22.0   22.0   18.0   19.0   21.0   22.0
9689  ...  151.0  153.0  151.0  140.0  113.0   90.0   70.0   52.0   38.0

      Class
0       two
1       six
2       six
3      four
4       two
...     ...
9685  seven
9686    two
9687  seven
9688    one
9689    one

[9690 rows x 2305 columns]

In [66]:
#generate this as a csv to directly feed into analyses on independent notebooks
XYraw_ran.to_csv('For_10_Fold_Cross_Validation.csv', index = False)

Split Data into data and expected calsses

In [67]:
#read in data from csv 
signData = pd.read_csv("For_10_Fold_Cross_Validation.csv")

#look at shape
signData.shape 

#look at data format
signData.head()

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,Class
0,43.0,52.0,46.0,29.0,14.0,16.0,16.0,16.0,16.0,19.0,...,24.0,23.0,21.0,20.0,22.0,23.0,23.0,23.0,24.0,two
1,234.0,235.0,230.0,226.0,222.0,220.0,219.0,220.0,222.0,224.0,...,129.0,126.0,107.0,108.0,130.0,126.0,110.0,142.0,191.0,six
2,18.0,21.0,23.0,25.0,24.0,21.0,18.0,18.0,19.0,21.0,...,15.0,15.0,15.0,14.0,14.0,14.0,15.0,16.0,15.0,six
3,223.0,225.0,223.0,222.0,221.0,225.0,227.0,224.0,225.0,227.0,...,149.0,146.0,150.0,157.0,156.0,106.0,86.0,114.0,133.0,four
4,34.0,34.0,35.0,35.0,34.0,33.0,33.0,33.0,34.0,35.0,...,31.0,29.0,29.0,29.0,28.0,29.0,29.0,31.0,32.0,two

In [68]:
#define the data to be used as all but the class attribute from the data 
X = signData.drop('Class', axis = 1)

#define the expexted value to be the class column of the input data 
y = signData['Class']

Plot initial DataSet

<h2> Decision Trees <h2> 
    <hr>
<h3> J48 <h3>

adapted from https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html
    
HOWEVER Sklearn uses CART rather than C4.5 which is the algorithm that J48 runs off so this could be incorrect.

In [69]:


# split data into test set and training set, to reduce bias

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [70]:
from sklearn.tree import DecisionTreeClassifier 

#define the model to be used 
classifier = DecisionTreeClassifier()

#fit this model using the test data
classifier.fit(X_train, y_train)

#test this model on the seperated data
y_pred = classifier.predict(X_test)


#package used for metrics of DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix

#Print Confusion matrix and other important results
print("Confusion Matrix")
print(confusion_matrix(y_test, y_pred))
print("\n")
print(classification_report(y_test, y_pred))

Confusion Matrix
[[ 85   1   0   5   3   2   2   2   6   0]
 [  1  24   0   1   3   1   1   0   3   0]
 [  2   1 325   0  22   0   0   4  20   1]
 [  2   1   0  44   3   1   0   3   5   0]
 [  6   1  16   1 383   4   1   3  22   5]
 [  2   2   2   0   6  30   0   0   3   1]
 [  2   0   2   0   2   1  53   2   2   0]
 [  6   2   5   2   8   1   0 281  16   0]
 [  3   5  12   0  25   5   2  11 379   1]
 [  1   1   5   1   4   1   0   1   0  34]]


              precision    recall  f1-score   support

       eight       0.77      0.80      0.79       106
        five       0.63      0.71      0.67        34
        four       0.89      0.87      0.88       375
        nine       0.81      0.75      0.78        59
         one       0.83      0.87      0.85       442
       seven       0.65      0.65      0.65        46
         six       0.90      0.83      0.86        64
       three       0.92      0.88      0.89       321
         two       0.83      0.86      0.84       443
        zero       0.81      0.71      0.76        48

    accuracy                           0.85      1938
   macro avg       0.80      0.79      0.80      1938
weighted avg       0.85      0.85      0.85      1938

<h3> Alternative Tree <h3>

<h6> Random Forest <h6>

adapted from https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

In [71]:
# split data into test set and training set, to reduce bias

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [72]:
from sklearn.ensemble import RandomForestClassifier

#create a Gaussian Classifier - random forest

randomForest = RandomForestClassifier(n_estimators = 100)

#train the model using the training set generated 
randomForest.fit(X_train, y_train)

#assign the predicted values as the result of running the model on the split test data
y_pred = randomForest.predict(X_test)

In [73]:
#Print Confusion matrix and other important results

from sklearn.metrics import classification_report, confusion_matrix

print("Confusion Matrix")
print(confusion_matrix(y_test, y_pred))
print("\n")
print(classification_report(y_test, y_pred))

Confusion Matrix
[[112   0   1   1   1   0   1   0   1   0]
 [  0  49   0   1   0   0   0   0   1   0]
 [  0   0 391   0   0   0   0   0   1   0]
 [  0   0   0  53   1   0   0   1   0   0]
 [  0   0   3   1 435   0   0   0   6   0]
 [  0   0   0   0   0  45   0   0   0   0]
 [  0   0   0   0   2   0  72   2   0   0]
 [  0   0   1   0   4   0   0 267   2   0]
 [  0   0   2   0   5   0   0   5 430   0]
 [  0   0   1   0   4   0   0   0   0  36]]


              precision    recall  f1-score   support

       eight       1.00      0.96      0.98       117
        five       1.00      0.96      0.98        51
        four       0.98      1.00      0.99       392
        nine       0.95      0.96      0.95        55
         one       0.96      0.98      0.97       445
       seven       1.00      1.00      1.00        45
         six       0.99      0.95      0.97        76
       three       0.97      0.97      0.97       274
         two       0.98      0.97      0.97       442
        zero       1.00      0.88      0.94        41

    accuracy                           0.98      1938
   macro avg       0.98      0.96      0.97      1938
weighted avg       0.98      0.98      0.98      1938

<h6> Support Vector Classification <h6>

Adapted from https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html#sklearn.svm.SVC

In [74]:
#-----------Setup 

from sklearn.svm import SVC

# split data into test set and training set, to reduce bias

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [75]:
#Create a svm Classifier
svmClassifier= SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
svmClassifier.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = svmClassifier.predict(X_test)

In [76]:
#Print Confusion matrix and other important results

from sklearn.metrics import classification_report, confusion_matrix, recall_score, precision_score

print("Confusion Matrix")
print(confusion_matrix(y_test, y_pred))
print("\n")
print(classification_report(y_test, y_pred))

Confusion Matrix
[[ 99   0   0   2   2   0   0   0   0   3]
 [  1  34   0   0   0   0   0   1   0   0]
 [  0   0 376   0   9   0   0   2   8   2]
 [  3   1   0  55   0   0   0   0   1   0]
 [  1   0  12   0 416   0   0   1  23   2]
 [  0   1   0   0   0  56   0   0   0   0]
 [  0   0   1   0   0   0  60   1   0   0]
 [  0   0   6   0   2   0   0 268   5   0]
 [  0   0   6   0  16   0   1   8 413   1]
 [  0   0   0   0   3   0   0   0   0  36]]


              precision    recall  f1-score   support

       eight       0.95      0.93      0.94       106
        five       0.94      0.94      0.94        36
        four       0.94      0.95      0.94       397
        nine       0.96      0.92      0.94        60
         one       0.93      0.91      0.92       455
       seven       1.00      0.98      0.99        57
         six       0.98      0.97      0.98        62
       three       0.95      0.95      0.95       281
         two       0.92      0.93      0.92       445
        zero       0.82      0.92      0.87        39

    accuracy                           0.94      1938
   macro avg       0.94      0.94      0.94      1938
weighted avg       0.94      0.94      0.94      1938

<h2> Neural Networks <h2>
   <hr>

<h3> Linear Classifier <h3>

<h3> MLP <h3>